:root{
    --primary:#111B54;
    --light:#ffffff;
    --grey:#efefef;
}

body{
    overflow: hidden;
    font-weight: 300;
    color: var(--primary);
}

a:hover{
    text-decoration: none;
}

.bg-primary{
    background-color: var(--primary) !important;
}
.bg-light{
    background-color: var(--light) !important;
}

.bg-mix{
    background: linear-gradient(180deg,var(--light),50%,var(--grey) 0);
}
.bg-grey{
    background-color: var(--grey) !important;
}
.btn-primary{
    background-color: var(--primary);
   
}
.btn-primary:hover{
    background-color: var(--primary);
}
.btn {
    border: 0;
}
#sidebar-container{
    min-height: 100vh; 
}

#sidebar-container .logo{
 padding: .875rem 1.25rem;
}

#sidebar-container .menu{
    width: 14rem;
}
.avatar{
    width:32px;
    height: 32px;
    
}



#content {
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 4rem;
}

.stat{
    border-right: 1px solid var(--grey);
}
@media (max-width: 768px){
    #sidebar-container
    {
        display: none;
    }
    .stat{
        border: 0;
    }
}

.shadow-sm{
    box-shadow: 0 0 1.25rem rgba(11, 37, 75,.05);
}

.shadow-hover:hover{
    transition:  1s ease-in-out;
    box-shadow: 0 .5rem 1rem rgba(11,37,75,.10);
}